.form-container{
    display: flex;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

.form-item{
    margin: 0 1em 0 1em;
}

.form-item p {
    font-size: calc(6px + 2vmin);
}

@media only screen and (max-width: 1140px ) {
    .form{
        
    }
}

@media only screen and (max-width: 700px ) {
    .form{
        flex-direction: column;
    }
}