*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #14213d;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 1em 2em 1em 2em;
  margin: 1em;
  border-color: #e5e5e5;
  border-radius: 0.5em;
  font-weight: 600;
  background-color: #fca311;
}

input{
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-color: white;
}